.numTextbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numTextbox-heading {
  font-size: 1.4rem;
  text-align: center;
  margin: 0.8rem 0;
}

.numTextbox-enter-number {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 2.4rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.numTextbox-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.numTextbox-input {
  border: 1px solid #555;
  border-radius: 9px;
  font-size: 2rem;
  padding: 0.4rem;
  color: #555;
  /* text-shadow: 0 0 0 #555; */
  background-color: #fff;
  text-align: center;
  width: 200px;
  height: 36px;
}

.numTextbox-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.2);
}

.input-country-code {
  width: 35px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  /* TODO */
  /* //make the input disabled */
}

.input-mobile-num {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
