input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.numTextbox-heading {
  font-size: 1.6rem;
  text-align: center;
  margin: 0.4rem 0;
}

.numTextbox-enter-number {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.numTextbox-enter-number span {
  font-weight: 500;
}

.numTextbox-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.numTextbox-input {
  border: 1px solid #555;
  border-radius: 9px;
  font-size: 2.4rem;
  padding: 0.4rem;
  color: #555;
  /* text-shadow: 0 0 0 #555; */
  background-color: #fff;
  text-align: center;
  width: 180px;
  height: 4rem;
  letter-spacing: 1px;
}

.numTextbox-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.2);
}

.input-country-code {
  width: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #e7e7e7;
  border-right: none;
  /* TODO */
  /* //make the input disabled */
}

.input-mobile-num {
  border-radius: 0;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;  */
}

.error-state-input {
  border-bottom-color: red;
}
.error-state-clear {
  color: red;
}

.clear-input-mobile-num {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  background-color: #e9e8e8;
  width: 36px;
}
.clear-input-mobile-num svg {
  width: 20px;
}
