.numTextbox-btn,
.numTextbox-btn:link,
.numTextbox-btn:visited {
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 11px;
  box-shadow: 0 0 0 1px #3fc250;
  background-color: #3fc250;
  color: #f9fcfc;
}

/* 
#3fc250 - active

#57d464 - clicked

#86d591 - disabled

*/
