body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./assets/chatBgImage.jpg); */
  /* background-repeat: repeat-x; */
  /* background-size: auto 100vh; */
  background-color: #fafafa;
}

.gen-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
